body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 30px;
    font-size: 16px;
}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: tomato;
    width: 80px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
section{
    padding-bottom: 100px;
}
.hero-area{
    height: 600px;
}
.half-width{
    height: auto;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.hero-area-text{
    padding: 20% 0;
}
a{
    text-decoration: none;
}
h1{
    font-size: 48px;
    font-weight: 700;
    color: #575757;
}
h2{
    font-size: 42px;
    color: #575757;
}
p{
    color: #575757;
}
.highlight{
    color: tomato;
}
.link-button{
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 25px;
    font-size: 18px;
    border-style: none;
}
.aboutsection-areaa{
    background-image: url(images/shapes/7.png);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    overflow: hidden;
}
#about-img{
    width: 338px;
    height: 536px;
    margin-top: 80px;
    margin-left: 50px;
}
.text-center{
    text-align: center;
}
.card-img img{
    width: 100%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #e0dddd;
    padding: 1.5%;
    margin-left: 40px;
}
.countdowns{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #ebe6e6;
    height: 200px;
    width: 1000px;
    margin: auto;
}
.countdown{
    margin: 30px;
    padding: 30px;
}
.countdowns-section{
    height: 200px;
    padding-top: 10px;
}
.counter{
    color: black;
}
footer{
    background-color: black;
    height: 200px;
    padding: 10px;
}





